*.asv
*.csv
*.bak
*.bck
*.hex
*.zip
*.txt
*.gcode
*.html
*.log
*.png
*.mid
.vs/
*/rescue-backup/
Release/
Debug/
*-cache.lib
kicad/gerbers
kicad/gerbers.zip
*.kicad_pcb-bak
*.stl
bldc_driver/bldc_gerbers
_autosave-*
bldc_driver/BldcDriver/BldcDriver/Device_Startup/
bldc_driver/BldcDriver/BldcDriver/src/ASF/
bldc_driver/BldcDriver/BldcDriver/src/asf.h
